# 我是模板文件
# ===== MySQL =====
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=lime_db

# ===== Redis =====
REDIS_PASSWORD=change_me

# ===== MinIO =====
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=lime-bucket

# ===== RocketMQ =====
ROCKETMQ_NAMESRV=localhost:9876

# ===== JWT =====
# 至少 32 个字符（HS256 需要 256-bit key）
# 或者用命令生成：openssl rand -base64 48
JWT_SECRET=change_me_to_a_long_random_string_at_least_32_chars
